/* CSS declarations go here */
body{
  height: 100%;
}

.container-fluid{
  padding:0;
  height: 100%;
  min-height: 100%;
}

.search_bar{
  background: #eee;
  padding:20px 30px;
}

.search_bar .btn{
  vertical-align:top;
}

.search_bar input{
  width:400px;
  margin-bottom:0;
}

.logo{
  width:150px;
  margin-right: 20px;
}

.body {
  background-color: #d1d3d4;
}

.filters{
  position: relative;
  padding: 20px 0 0 30px;
}

.filters input[type=checkbox]{
  margin-top:0;
}
.filters .row-fluid [class*="span"]:nth-child(2n+1){ margin-left: 0 }
.filters .row-fluid [class*="span"]{
  min-height: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filters .box {
  background-color: white;
  border-radius: 16px;
  padding: 10px 20px;
  display: table;
  margin-bottom: 20px;
}
.filters h2 {
  padding-bottom: 2px;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px solid #CCC;
}
.filters label {
  color: #6d6e71;
}

.articles {
  background-color: white;
  padding-left: 40px;
}
.articles h1 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
}
article img {
  height: 120px;
  float: right;
}
article h2, article h3 { 
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}
article.row-fluid {
  display: table;
  clear: both;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
  width: 96%;
}
article:first-child {
  margin-top: 20px;
}
article .less_info { display: none }
article .extra-info { display: none }

article .extra-info .row-fluid {
  width: 96%;
  background-color: #EEE;
  padding: 0 20px;
  border-radius: 12px;
}
article dd {
  margin-left: 0;
  margin-bottom: 10px;
}
article .odas { font-size: 12px }

.search_bar ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}